// .marker-style{
//   border: 2px solid rgba(0, 0, 0, 0.5);
//   border-radius: 50px;
//   padding: 10px;
//   background-color: rgba(0, 255, 245, 0.49);
// }

.people{
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  width: 290px;

}
.people hr{
  border-top:1px solid rgba(255, 255, 255, 0.48)
}
.people p{
  margin-bottom: 0;
  font-size: 14px;
}
.people ul{
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  list-style: none;
  margin: 0px;
  font-size: 12px;
}
.people .close{
  position: absolute;
  top: 0;
  right : 0;
  color: #fff;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}


.pass{
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  width: 290px;
  font-size: 13px;
}
.pass p{
  margin-bottom: 0;
  font-size: 14px;
}
.pass hr{
 border-top:1px solid rgba(255, 255, 255, 0.48)
}
.pass ul{
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  list-style: none;
  margin: 0px;
  font-size: 12px;
}
.pass ul li {
  margin: 5px 0;
}
.pass .close{
  position: absolute;
  top: 0;
  right : 0;
  color: #fff;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}

.basemap {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  width: 150px;
  font-size: 13px;
}

.basemap ul{
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  list-style: none;
  margin: 0px;
  font-size: 12px;
}
.basemap ul li{
  cursor: pointer;
  margin: 5px 0;
}
.hightlight {
  color: #eff606!important;
}
